<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @canvas_backend_development.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @canvas_backend_development.password %>
</p>

<%= link_to 'Edit', edit_canvas_backend_development_path(@canvas_backend_development) %> |
<%= link_to 'Back', canvas_backend_developments_path %>
